img{    // ------------------------------------------------ for every page
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}


body{
    width: 100%;
    background-color: $aw;
    font-family: 'Gothic A1', sans-serif;
    top: 60px;
    position: relative;
    margin: 0;
    main{
        width:80%;
        margin:5% 10% 0% 10%;


        .genresContainer{   // ------------------------------- for the home page
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .genreBox{
                position: relative;
                display: flex;
                border: 1px black solid;
                border-radius: 3px;
                box-shadow: 1px 1px 3px 1px black;
                width: 30%;
                height: 30vh;
                text-align: center;
                margin: 3% 0;
                justify-content: center;
                align-items: center;
                p{  
                    color: white;
                    background-color: black;
                    opacity: 0.7;
                    position: absolute;
                    padding: 2% 0;
                    width: 100%;
                }
            }
        }


        .forms{ // ---------------------------------------- for forms pages (login/signin)
            margin: 0 25%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            background-color: white;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px black;
            form{
                display: flex;
                flex-direction: column;
                width: 30%;
                div{
                    margin: 20px 0;
                    input{
                        box-sizing: border-box;
                        padding: 3%;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
                .btn{
                    font-size: 16px;
                    text-align: center;
                    margin: 20px 0;
                    color: white;
                    background-color: $gb;
                    padding: 3%;
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid $aw;
                }
                a{
                    margin-top: 6.6px !important;
                    box-sizing: border-box;
                    
                }
            }
        }
        .comments{
            // margin: 10%;
            // width: 80%;
            form{
                width: 100%;
                #comment{
                    div{
                    display: flex;
                    flex-direction: column;
                    label{
                        display: none;
                    }
                    textarea{
                        height: 20vh;
                    }
                    }
                }
                .btn{
                    margin: 5% 40%;
                    width: 20%;
                }
            }
        }


        .reviews-head{ // ------------------------------------------  for the profile page
            width: 100%;
            display: flex;
            justify-content: space-between;
            :nth-child(3){
                color: red;
            }
            button{
                a{color: white;}
                height: 50px;
                background-color: $gb;
                border-radius: 5px;
            }
        }
        .reviews{
            width: 80%;
            margin: 0 10%;
            hr{
                margin: 0;
                width: 80%;
            }
            .review{
                width: 100%;
                margin: 1%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    width: 50%;
                    padding: 1%;
                }
                .btn{ 
                    display: flex;
                    height: 36px !important;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    color: white;
                    height: 50%;
                    background-color: $gb;
                    border-radius: 3px;
                    box-sizing: border-box;
                    border: 1px solid #FAEBD7;
                    margin-right: 1%;
                }
                input{
                    width: 100px;
                    color: white;
                    height: 50%;
                    background-color: $gb;
                }
            }

        }


        .ebookContainer{  // -------------------------------------- book list (once you select a genre)
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .ebookBox{
                margin: 2% 4.5% 2% 0;
                box-shadow: 1px 1px 1px 1px black;
                border: 1px solid black;
                width: 20%;
                height: 60vh;
                img{
                    background-color: black;
                    display: block;
                    height: 80%;
                    object-fit: contain !important;
                }
                .ebookContent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20%;
                    background-color: $gb;
                    h2{
                        color: white;
                        text-decoration: underline;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
        .ebookDisplay{  // --------- book's own page, content part
            display: flex;
            justify-content: space-between;
            min-height: 300px;
            .imageHalf{
                width: 25%;
                min-height: 500px !important;
                &>img{
                    display: block;
                    box-shadow: 1px 1px 1px 1px black;
                    border-radius: 3px;
                    height: 90%;
                }
                h3{
                    margin: 2% 0;
                    background-color: $gb;
                    text-align: center;
                    width: 50%;
                    border-radius: 50px;
                    padding: 2%;
                    color: white;
                }
            }
            .contentHalf{
                width: 70%;
                .contentHead{
                    display: flex;
                    justify-content: space-between;
                    .btns{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 40%;
                        .btn{
                            text-align: center;
                            margin: 20px 0;
                            color: white;
                            background-color: $gb;
                            padding: 5% 3%;
                            width: 40%;
                            border-radius: 5px;
                            box-shadow: 1px 1px 1px 1px black;
                        }
                        .btn:nth-child(1){
                            background-color: white;
                            color: black;
                            border: 1px solid black;
                        }
                    }
                }
            }
        }
        .comments{ // --------------- comment section on each book's page
            margin-top: 5%;
            padding: 2%;
            background-color: white;
            border-radius: 3px;
            .commentsHead{
                display: flex;
                justify-content: space-between;
                .btn{
                    text-align: center;
                    margin: 20px 0;
                    color: white;
                    background-color: $gb;
                    padding: 1%;
                    width: 12%;
                    border-radius: 5px;
                    box-shadow: 1px 1px 1px 1px black;
                }
                form{
                    display: flex;
                    justify-content: space-evenly;
                    div{
                        margin-top: 1%;
                        width: 60%;
                        textarea{
                            width: 100%;
                            border-radius: 3px;
                            font-family: "Gothic A1", sans-serif;
                            resize: none;
                        }
                    }
                }
            }
            .commentsList{
                list-style: none;
                hr{
                    margin: 0;
                    width: 80%;
                }
                .comment{
                    h3{
                        margin-bottom: 0;
                    }
                    .commentDate{
                        margin-top: 0;
                        font-style: italic;
                    }
                    .commentContent{
                        width: 80%;
                        font-family: "Gothic A1", sans-serif;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: none;
                        resize: vertical;
                    }
                }
            }
        }
        
    }
    .allTables{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .commentTable{
        width: 33%;
    }
    .ebookTable{
        width: 40%;
    }
    .userTable{
        width: 25%;
    }

    .adminHead,.adminTables{
        display: flex;
        justify-content: space-around;
        .adminComments,.adminBooks,.adminUsers{
            display: flex;
            justify-content: space-around;
            width: 100%;
            background-color: white;
            border: 1px black solid;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px black;
            text-align: center;
            div{
                width: 16%;
            }
            .btn{
                border: 1px black solid;
                border-radius: 3px;
                box-shadow: 1px 1px 1px 1px black;
                background-color: white !important;
                a{color: black;}
            }
        }
        .adminComments,.adminUsers,.ab2{
            padding:12px 0;
        }
    }

    .adminTables{
        
        margin-top: 20px;
        div{
            background-color: $gb !important;
            color: white;
            padding: 1% 0;
        }
    }
    .adminContent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        .adminComments{
            background-color: white;
            border: 1px black solid;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .adminCol{
                max-height: 100px;
            }
        }
        .adminBooks{
            background-color: white;
            border: 1px black solid;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .adminUsers{
            background-color: white;
            border: 1px black solid;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .adminUsers{
            .adminCol{
                max-height: 100px;
            }
        }
        .adminCol{
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            height: 200px;
            a{
                line-height: 28px;
                box-sizing: border-box;
            }
            .btn{
                font-size: 13px;
                display: block;
                color: white;
                background-color: $gb;
                height: 30px;
                width: 70%;
                border-radius: 3px;
                border: 1px black solid;
            }
            
            .tableParam{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                font-size: 1em;
                font-family: "Gothic A1", sans-serif;
                resize: none;
                word-break: break-all;
                h2{
                    color: black;
                    font-size: 1em;
                }
                form{
                    input{
                        width: 100% !important;
                    }
                }
            }
            .t2{
                width: 25%;
            }
            textarea{
                font-size:0.7em !important;
            }

        }
        .line{
            width: 100%;
            border: 1px black solid;
        }
    }
}