{% extends 'base.html.twig' %}

{% block title %}eBookShare - Logging In{% endblock %}

{% block body %}
<main>
    {% if error %}
        <div style="margin:0 25%">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section class="forms">
    <h2>LOG IN</h2>
    <form action="{{ path('app_login') }}" method="post">
        <div>
            {# <label for="username">Username:</label> #}
            <input type="text" id="username" name="_username" placeholder="username" value="{{ last_username }}"/>
        </div>
        <div>
            {# <label for="password">Password:</label> #}
            <input type="password" id="password" name="_password" placeholder="password"/>
        </div>
        <button class="btn" type="submit">Continue</button>
        <label for="signin">No account?</label>
        <a class="btn" name="signin" href="{{ path("inscription") }}">Sign in</a>
    </form>
    </section>


</main>
{% endblock %}
