{% extends 'base.html.twig' %}

{% block title %}
    eBookStore - Editing comment
{% endblock %}

{% block body %}
<main>
    <section class="forms comments">
        {{ form_start(form)}}
            {{form_row(form.content,{'attr':{'placeholder':comment.content,'label':'Edit your comment'}})}}
            <input type="submit" class="btn" value="Edit">
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}
    