@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url("fonts/GothicA1-Regular.ttf") format("ttf"), url("fonts/GothicA1-Regular.ttf") format("ttf");
}
header {
  z-index: 5;
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
}
header nav {
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  height: 100%;
  align-self: flex-start;
}
header nav .nav-content {
  height: 100%;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .nav-content a {
  font-weight: 700;
  color: white;
}
header nav .nav-content a:not(:nth-child(1)) {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  border: 1px white solid;
  border-radius: 3px;
}
header nav .nav-content a:not(:nth-child(1)) i {
  align-self: center;
  padding-right: 10%;
}
header nav .nav-content a p {
  margin: 10px 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #FAEBD7;
  font-family: "Gothic A1", sans-serif;
  top: 60px;
  position: relative;
  margin: 0;
}
body main {
  width: 80%;
  margin: 5% 10% 0% 10%;
}
body main .genresContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main .genresContainer .genreBox {
  position: relative;
  display: flex;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px black;
  width: 30%;
  height: 30vh;
  text-align: center;
  margin: 3% 0;
  justify-content: center;
  align-items: center;
}
body main .genresContainer .genreBox p {
  color: white;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  padding: 2% 0;
  width: 100%;
}
body main .forms {
  margin: 0 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .forms form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
body main .forms form div {
  margin: 20px 0;
}
body main .forms form div input {
  box-sizing: border-box;
  padding: 3%;
  width: 100%;
  border-radius: 5px;
}
body main .forms form .btn {
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  color: white;
  background-color: #327D9C;
  padding: 3%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #FAEBD7;
}
body main .forms form a {
  margin-top: 6.6px !important;
  box-sizing: border-box;
}
body main .reviews-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main .reviews-head :nth-child(3) {
  color: red;
}
body main .reviews-head button {
  height: 50px;
  background-color: #327D9C;
  border-radius: 5px;
}
body main .reviews-head button a {
  color: white;
}
body main .reviews {
  width: 80%;
  margin: 0 10%;
}
body main .reviews hr {
  margin: 0;
  width: 80%;
}
body main .reviews .review {
  width: 100%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .reviews .review p {
  width: 50%;
  padding: 1%;
}
body main .reviews .review .btn {
  display: flex;
  height: 36px !important;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: white;
  height: 50%;
  background-color: #327D9C;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #FAEBD7;
  margin-right: 1%;
}
body main .reviews .review input {
  width: 100px;
  color: white;
  height: 50%;
  background-color: #327D9C;
}
body main .ebookContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
body main .ebookContainer .ebookBox {
  margin: 2% 4.5% 2% 0;
  box-shadow: 1px 1px 1px 1px black;
  border: 1px solid black;
  width: 20%;
  height: 60vh;
}
body main .ebookContainer .ebookBox img {
  background-color: black;
  display: block;
  height: 100%;
  object-fit: cover !important;
}
body main .ebookContainer .ebookBox .ebookContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #327D9C;
}
body main .ebookContainer .ebookBox .ebookContent h2 {
  color: white;
  text-decoration: underline;
  margin: 0;
  text-align: center;
}
body main .ebookDisplay {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}
body main .ebookDisplay .imageHalf {
  width: 300px !important;
  max-height: 500px !important;
  min-height: 500px !important;
}
body main .ebookDisplay .imageHalf > img {
  display: block;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  height: 90%;
}
body main .ebookDisplay .imageHalf h3 {
  margin: 2% 0;
  background-color: #327D9C;
  text-align: center;
  width: 50%;
  border-radius: 50px;
  padding: 2%;
  color: white;
}
body main .ebookDisplay .contentHalf {
  width: 70%;
  margin-left: 1%;
}
body main .ebookDisplay .contentHalf .contentHead {
  display: flex;
  justify-content: space-between;
}
body main .ebookDisplay .contentHalf .contentHead .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
body main .ebookDisplay .contentHalf .contentHead .btns .btn {
  text-align: center;
  margin: 20px 0;
  color: white;
  background-color: #327D9C;
  padding: 5% 3%;
  height: 18px;
  width: 40%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .ebookDisplay .contentHalf .contentHead .btns .btn:nth-child(1) {
  background-color: white;
  color: black;
  border: 1px solid black;
}
body main .comments {
  margin-top: 5%;
  padding: 2%;
  background-color: white;
  border-radius: 3px;
}
body main .comments form {
  width: 100%;
}
body main .comments form #comment div {
  display: flex;
  flex-direction: column;
}
body main .comments form #comment div label {
  display: none;
}
body main .comments form #comment div textarea {
  height: 20vh;
}
body main .comments form .btn {
  margin: 5% 40%;
  width: 20%;
}
body main .comments .addComment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
body main .comments .addComment .btn {
  text-align: center;
  margin: 10px 0;
  color: white;
  background-color: #327D9C;
  padding: 1%;
  width: 12%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .comments .addComment form {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
body main .comments .addComment form div {
  margin-top: 1%;
  width: 80%;
}
body main .comments .addComment form div label {
  display: none;
}
body main .comments .addComment form div textarea {
  width: 100%;
  border-radius: 3px;
  font-family: "Gothic A1", sans-serif;
  resize: none;
}
body main .comments .commentsList {
  list-style: none;
}
body main .comments .commentsList hr {
  margin: 0;
  width: 80%;
}
body main .comments .commentsList .comment h3 {
  margin-bottom: 0;
}
body main .comments .commentsList .comment .commentDate {
  margin-top: 0;
  font-style: italic;
}
body main .comments .commentsList .comment .commentContent {
  width: 80%;
  font-family: "Gothic A1", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  resize: vertical;
}
body .allTables {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
body .allTables .commentTable {
  width: 33%;
}
body .allTables .ebookTable {
  width: 40%;
}
body .allTables .userTable {
  width: 25%;
}
body .adminHead, body .adminTables {
  display: flex;
  justify-content: space-around;
}
body .adminHead .adminComments, body .adminHead .adminBooks, body .adminHead .adminUsers, body .adminTables .adminComments, body .adminTables .adminBooks, body .adminTables .adminUsers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
  text-align: center;
}
body .adminHead .adminComments div, body .adminHead .adminBooks div, body .adminHead .adminUsers div, body .adminTables .adminComments div, body .adminTables .adminBooks div, body .adminTables .adminUsers div {
  width: 16%;
}
body .adminHead .adminComments .btn, body .adminHead .adminBooks .btn, body .adminHead .adminUsers .btn, body .adminTables .adminComments .btn, body .adminTables .adminBooks .btn, body .adminTables .adminUsers .btn {
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white !important;
}
body .adminHead .adminComments .btn a, body .adminHead .adminBooks .btn a, body .adminHead .adminUsers .btn a, body .adminTables .adminComments .btn a, body .adminTables .adminBooks .btn a, body .adminTables .adminUsers .btn a {
  color: black;
}
body .adminHead .adminComments, body .adminHead .adminUsers, body .adminHead .ab2, body .adminTables .adminComments, body .adminTables .adminUsers, body .adminTables .ab2 {
  padding: 12px 0;
}
body .adminTables {
  margin-top: 20px;
}
body .adminTables div {
  background-color: #327D9C !important;
  color: white;
  padding: 1% 0;
}
body .adminContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
body .adminContent .adminComments {
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .adminContent .adminComments .adminCol {
  max-height: 100px;
}
body .adminContent .adminBooks {
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .adminContent .adminUsers {
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .adminContent .adminUsers .adminCol {
  max-height: 100px;
}
body .adminContent .adminCol {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 200px;
}
body .adminContent .adminCol a {
  line-height: 28px;
  box-sizing: border-box;
}
body .adminContent .adminCol .btn {
  font-size: 13px;
  display: block;
  color: white;
  background-color: #327D9C;
  height: 30px;
  width: 70%;
  border-radius: 3px;
  border: 1px black solid;
}
body .adminContent .adminCol .tableParam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 1em;
  font-family: "Gothic A1", sans-serif;
  resize: none;
  word-break: break-all;
}
body .adminContent .adminCol .tableParam h2 {
  color: black;
  font-size: 1em;
}
body .adminContent .adminCol .tableParam form input {
  width: 100% !important;
}
body .adminContent .adminCol .t2 {
  width: 25%;
}
body .adminContent .adminCol textarea {
  font-size: 0.7em !important;
}
body .adminContent .line {
  width: 100%;
  border: 1px black solid;
}

@media screen and (max-width: 1224px) {
  header nav .nav-content a:not(:nth-child(1)) {
    width: 15%;
  }
  header nav .nav-content a:not(:nth-child(1)) p {
    font-size: small;
  }

  main .genresContainer {
    flex-direction: column;
    width: 100%;
  }
  main .genresContainer .genreBox {
    width: 100% !important;
  }
  main .ebookContainer .ebookBox {
    width: 28% !important;
    height: 60vh !important;
  }
  main .ebookContainer .ebookBox img {
    height: 100%;
    width: 100%;
  }
  main .ebookDisplay .contentHalf .contentHead {
    flex-direction: column;
  }
  main .ebookDisplay .contentHalf .contentHead .btns {
    width: 80% !important;
  }
  main .ebookDisplay .contentHalf .contentHead .btns .btn {
    font-size: small;
  }
}
@media screen and (max-width: 768px) {
  header nav .nav-content a:not(:nth-child(1)) {
    width: 25%;
  }
  header nav .nav-content a:not(:nth-child(1)) i {
    display: none;
  }
  header nav .nav-content a:not(:nth-child(1)) p {
    font-size: small;
  }

  main .genresContainer {
    flex-direction: column;
    width: 100%;
  }
  main .genresContainer .genreBox {
    width: 100% !important;
  }
  main .ebookContainer .ebookBox {
    width: 45% !important;
    height: 60vh !important;
  }
  main .ebookContainer .ebookBox img {
    height: 100%;
    width: 100%;
  }
  main .ebookDisplay {
    flex-direction: column-reverse;
  }
  main .ebookDisplay .contentHalf {
    width: 100% !important;
  }
  main .ebookDisplay .contentHalf .contentHead .contentTitle {
    text-align: center;
  }
  main .ebookDisplay .contentHalf .contentHead .btns {
    width: 100% !important;
    justify-content: space-evenly !important;
  }
  main .ebookDisplay .contentHalf .contentHead .btns .btn {
    width: 30% !important;
    font-size: small;
  }
}
@media screen and (max-width: 380px) {
  header nav .nav-content a:not(:nth-child(1)) {
    width: 30%;
  }
  header nav .nav-content a:not(:nth-child(1)) i {
    display: none;
  }
  header nav .nav-content a:not(:nth-child(1)) p {
    font-size: small;
  }

  main .genresContainer {
    flex-direction: column;
    width: 100%;
  }
  main .genresContainer .genreBox {
    width: 100% !important;
  }
  main .ebookContainer {
    flex-direction: column;
  }
  main .ebookContainer .ebookBox {
    width: 100% !important;
  }
  main .ebookContainer .ebookBox img {
    height: 60vh !important;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
