@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url("fonts/GothicA1-Regular.ttf") format("ttf"), url("fonts/GothicA1-Regular.ttf") format("ttf");
}
header {
  z-index: 5;
  width: 100%;
  height: 120px;
  top: 0;
  position: fixed;
}
header nav {
  background-color: black;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  height: 100%;
  align-self: flex-start;
}
header nav .nav-content {
  height: 100%;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .nav-content a {
  font-weight: 700;
  color: white;
}
header nav .nav-content a:not(:nth-child(1)) {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  border: 1px white solid;
  border-radius: 3px;
}
header nav .nav-content a:not(:nth-child(1)) i {
  align-self: center;
  padding-right: 10%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #FAEBD7;
  font-family: "Gothic A1", sans-serif;
  top: 120px;
  position: relative;
  margin: 0;
}
body main {
  width: 80%;
  margin: 5% 10% 0% 10%;
}
body main .genresContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main .genresContainer .genreBox {
  position: relative;
  display: flex;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px black;
  width: 30%;
  height: 30vh;
  text-align: center;
  margin: 3% 0;
  justify-content: center;
  align-items: center;
}
body main .genresContainer .genreBox p {
  color: white;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  padding: 2% 0;
  width: 100%;
}
body main .forms {
  margin: 0 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .forms form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
body main .forms form div {
  margin: 20px 0;
}
body main .forms form div input {
  box-sizing: border-box;
  padding: 3%;
  width: 100%;
  border-radius: 5px;
}
body main .forms form .btn {
  margin: 20px 0;
  color: white;
  background-color: #327D9C;
  padding: 3%;
  width: 100%;
  border-radius: 5px;
}
body main .reviews-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main .reviews-head > a {
  color: red;
}
body main .reviews {
  width: 80%;
  margin: 0 10%;
}
body main .reviews hr {
  margin: 0;
  width: 80%;
}
body main .reviews .review {
  width: 100%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .reviews .review p {
  width: 50%;
  padding: 1%;
}
body main .reviews .review input {
  color: white;
  height: 50%;
  background-color: #327D9C;
}
body main .ebookContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
body main .ebookContainer .ebookBox {
  margin: 2% 4.5% 2% 0;
  box-shadow: 1px 1px 1px 1px black;
  border: 1px solid black;
  width: 20%;
  height: 60vh;
}
body main .ebookContainer .ebookBox img {
  background-color: black;
  display: block;
  height: 80%;
  object-fit: contain !important;
}
body main .ebookContainer .ebookBox .ebookContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #327D9C;
}
body main .ebookContainer .ebookBox .ebookContent h2 {
  color: white;
  text-decoration: underline;
  margin: 0;
  text-align: center;
}
body main .ebookDisplay {
  display: flex;
  justify-content: space-between;
}
body main .ebookDisplay .imageHalf {
  width: 25%;
}
body main .ebookDisplay .imageHalf img {
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  height: 90%;
}
body main .ebookDisplay .imageHalf h3 {
  margin: 1% 0;
  background-color: #327D9C;
  text-align: center;
  width: 50%;
  border-radius: 50px;
  padding: 2%;
  color: white;
}
body main .ebookDisplay .contentHalf {
  width: 70%;
}
body main .ebookDisplay .contentHalf .contentHead {
  display: flex;
  justify-content: space-between;
}
body main .ebookDisplay .contentHalf .contentHead .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
body main .ebookDisplay .contentHalf .contentHead .btns .btn {
  text-align: center;
  margin: 20px 0;
  color: white;
  background-color: #327D9C;
  padding: 5% 3%;
  width: 40%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .ebookDisplay .contentHalf .contentHead .btns .btn:nth-child(1) {
  background-color: white;
  color: black;
  border: 1px solid black;
}
body main .comments {
  margin-top: 5%;
  padding: 2%;
  background-color: white;
  border-radius: 3px;
}
body main .comments .commentsHead {
  display: flex;
  justify-content: space-between;
}
body main .comments .commentsHead .btn {
  text-align: center;
  margin: 20px 0;
  color: white;
  background-color: #327D9C;
  padding: 1%;
  width: 12%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
body main .comments .commentsList {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
