{% extends 'base.html.twig' %}

{% block title %}
    eBookStore - Editing User
{% endblock %}

{% block body %}
<main>
    <section class="forms">
        {{ form_start(form)}}
            {{form_widget(form)}}
            <input type="submit" class="btn" value="Edit">
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}
