{% extends 'base.html.twig' %}
{% block title %}eBookShare - Home{% endblock %}
{% block body %}
<main>
    <section class="allGenres">
        <h1>BROWSE BY GENRE</h1>
        <div class="genresContainer">
            {% for genre in category %}
                <a href="{{ path("ebookPerCategory",{'category':genre.id})}}" class="genreBox">
                    <img src="{{asset('img/' ~ genre.image)}}" alt="{{genre.image}}">
                    <p>{{genre.name}}</p>
                </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
