{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main>
    <div class="reviews-head">
        <h1>MY REVIEWS</h1>
        <a href="{{ path("app_logout") }}" class="btn">Disconnect from account</a>
    </div>
</main>
{% endblock %}