{% extends 'base.html.twig' %}

{% block title %}eBookShare - My Account{% endblock %}

{% block body %}
<main>
    <div class="reviews-head">
        <h1>MY REVIEWS</h1>
        <a href="{{ path("app_logout") }}" class="btn">Disconnect from account</a>
    </div>
    <section class="forms reviews">
        <div class="review">
            <a href="/ebook/displayEbook"><h2>The Witch's Tower</h2></a>
            <p>Nice book</p>
            <input type="submit" value="EDIT">
            <input type="submit" value="DELETE">
        </div>
        <hr>
        
    </section>
</main>
{% endblock %}