{% extends 'base.html.twig' %}

{% block title %}eBookShare - Browsing{% endblock %}

{% block body %}
<main>
    <section class="genre">
        <h1>{{name.name}}</h1>
        <div class="ebookContainer">
            {% for ebook in ebook %}
            <a class="ebookBox" href="{{ path('displayEbook', {'id' : ebook.id }) }}">
                <img src='{{ asset('img/' ~ ebook.image )}}' alt="book image">
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
